  .header-container {
    width: 100%;

    header {
      padding-bottom: 34px;
      color: $text-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 24px;
        font: {
          family: $font-logo;
          weight: 700;
        }
      }

      .menu {
        display: flex;
        align-items: center;

        font: {
          family: $font-main;
          weight: 400;
        }

        @media (max-width: 1083px) {
          display: none;
        }

        ul {
          display: flex;

          li {
            padding: 0 0.5rem;

            a {
              color: $secondary-color;
              font-family: $font-main;
              transition: 0.3s;
              &:hover {
                color: $text-color;
              }
              i {
                padding-left: 8px;
              }
            }
          }
        }

        a {
          color: $text-color;
          font-family: $font-links;
          padding: 0 0.7rem;
        }

        .menu-faq {
          letter-spacing: -0.2px;
        }

        .menu-contact {
          border: 2px solid $third-color;
          border-radius: 100px;
          padding: 9px 23px;
          margin: 0 38px;
          transition: 0.3s;
          &:hover {
            background-color: $third-color;
          }
        }
      }

      .menu-burger {
        div {
          @media (max-width: 1083px) {
            width: 24px;
            height: 2px;
            background-color: $text-color;
            margin-bottom: 4px;
            cursor: pointer;
          }
        }
      }

      .menu-sidebar {
        display: none;
      }
      @extend .menu-sidebar;
      @media (max-width: 1083px) {
        .active-sidebar {
          min-width: 25%;
          text-align: right;
          margin: 0;
          padding: 0;
          display: block;

          position: absolute;
          top: 100px;
          right: 0;
          background-color: $third-color;
          .sidebar-wrapper {
            padding: 0 20px;
            // height: 100vh;
            .menu-contact-sidebar {
              border: 2px solid $third-color;
              border-radius: 100px;
              padding: 9px 40px;
              transition: 0.3s;
              &:hover {
                background-color: $third-color;
              }
            }
          }
          ul {
            li {
              font-size: 20px;

              a {
                color: $text-color;
                font-family: $font-main;
                i {
                  display: none;
                }
              }
            }
          }
          a {
            padding: 9px 10px;
            margin: 0 20px;
            display: block;
            color: $text-color;
            font-family: $font-main;
            font-size: 20px;
          }
        }
      }
    }

    .border {
      position: absolute;
      left: 0;
      width: 100vw;
      height: 2px;
      background-color: $third-color;
    }
  }

  //DROPDOWN MENU

  .dropdown {
    visibility: hidden;
    color: $text-color;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    font-family: $font-main;
    @media (max-width: 1083px) {
      display: none;
    }

    .dropdown-first-column {
      color: $secondary-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      p {
        margin: 0 0 0.1rem 0;
        padding: 4px 10px;
        width: fit-content;
        cursor: pointer;
        &:hover {
          color: $main-color;
          background: $third-color;
          border-radius: 10px;
        }
      }

      .dropdown-first-column__title {
        color: $text-color;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
      }
    }

    .dropdown-second-column {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .dropdown-second-column-first-row {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      .dropdown-second-column-second-row {
        p {
          padding: 28px 0 6px 2px;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
  .active {
    @extend .dropdown;
    visibility: visible;
  }