.header-container .menu {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
@media (max-width: 1083px) {
  .header-container .menu {
    display: none;
  }
}
.header-container .menu ul {
  display: flex;
}
.header-container .menu ul li {
  padding: 0 0.5rem;
}
.header-container .menu ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "DM Sans", sans-serif;
  transition: 0.3s;
}
.header-container .menu ul li a:hover {
  color: #ffffff;
}
.header-container .menu ul li a i {
  padding-left: 8px;
}
.header-container .menu a {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  padding: 0 0.7rem;
}
.header-container .menu .menu-faq {
  letter-spacing: -0.2px;
}
.header-container .menu .menu-contact {
  border: 2px solid rgba(255, 255, 255, 0.301);
  border-radius: 100px;
  padding: 9px 23px;
  margin: 0 38px;
  transition: 0.3s;
}
.header-container .menu .menu-contact:hover {
  background-color: rgba(255, 255, 255, 0.301);
}
.header-container .menu-burger {
  float: right;
  position: absolute;
  top: 33px;
  right: 20px;
}
@media (max-width: 1083px) {
  .header-container .menu-burger div {
    float: rigth;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
    cursor: pointer;
  }
}
.header-container .menu-sidebar, .header-container .header-container {
  display: none;
}
@media (max-width: 1083px) {
  .header-container .active-sidebar {
    min-width: 25%;
    text-align: right;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #2f1893;
  }
  .header-container .active-sidebar .sidebar-wrapper {
    padding: 0 20px;
  }
  .header-container .active-sidebar .sidebar-wrapper .menu-contact-sidebar {
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 100px;
    padding: 9px 40px;
    transition: 0.3s;
  }
  .header-container .active-sidebar .sidebar-wrapper .menu-contact-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.301);
  }
  .header-container .active-sidebar ul li {
    font-size: 20px;
  }
  .header-container .active-sidebar ul li a {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
  }
  .header-container .active-sidebar ul li a i {
    display: none;
  }
  .header-container .active-sidebar a {
    padding: 9px 10px;
    display: block;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
  }
}
.header-container .border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.301);
}

header {
  padding-bottom: 34px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.dropdown, .active {
  visibility: hidden;
  display: none;
  color: #ffffff;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 1083px) {
  .dropdown, .active {
    display: none;
    visibility: hidden;
  }
}
.dropdown .dropdown-first-column, .active .dropdown-first-column {
  background-color: #2f1893;
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.dropdown .dropdown-first-column p, .active .dropdown-first-column p {
  margin: 0 0 0.1rem 0;
  padding: 4px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.dropdown .dropdown-first-column p:hover, .active .dropdown-first-column p:hover {
  color: #2f1893;
  background: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
}
.dropdown .dropdown-first-column .dropdown-first-column__title, .active .dropdown-first-column .dropdown-first-column__title {
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.dropdown .dropdown-second-column, .active .dropdown-second-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dropdown .dropdown-second-column .dropdown-second-column-first-row, .active .dropdown-second-column .dropdown-second-column-first-row {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.dropdown .dropdown-second-column .dropdown-second-column-second-row p, .active .dropdown-second-column .dropdown-second-column-second-row p {
  padding: 28px 0 6px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.active {
  height: auto;
  z-index: 21;
  visibility: visible;
  display: flex;
  padding: 0 100px 20px 100px;
  margin: 20px auto;
  background-color: #2f1893;
  position: absolute;
  left: 0;
  width: 100%;
}
@media (max-width: 1083px) {
  .active {
    visibility: hidden;
    display: none;
  }
}/*# sourceMappingURL=header.css.map */