* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

body {
  background-color: #2f1893;
}

.main-container {
  padding: 0 10px;
  margin: 20px auto;
  max-width: 1170px;
  width: 100%;
}
.main-container .header-container .menu {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
@media (max-width: 1083px) {
  .main-container .header-container .menu {
    display: none;
  }
}
.main-container .header-container .menu ul {
  display: flex;
}
.main-container .header-container .menu ul li {
  padding: 0 0.5rem;
}
.main-container .header-container .menu ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "DM Sans", sans-serif;
  transition: 0.3s;
}
.main-container .header-container .menu ul li a:hover {
  color: #ffffff;
}
.main-container .header-container .menu ul li a i {
  padding-left: 8px;
}
.main-container .header-container .menu a {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  padding: 0 0.7rem;
}
.main-container .header-container .menu .menu-faq {
  letter-spacing: -0.2px;
}
.main-container .header-container .menu .menu-contact {
  border: 2px solid rgba(255, 255, 255, 0.301);
  border-radius: 100px;
  padding: 9px 23px;
  margin: 0 38px;
  transition: 0.3s;
}
.main-container .header-container .menu .menu-contact:hover {
  background-color: rgba(255, 255, 255, 0.301);
}
.main-container .header-container .menu-burger {
  float: right;
  position: absolute;
  top: 33px;
  right: 20px;
}
@media (max-width: 1083px) {
  .main-container .header-container .menu-burger div {
    float: rigth;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
    cursor: pointer;
  }
}
.main-container .header-container .menu-sidebar, .main-container .header-container .header-container {
  display: none;
}
@media (max-width: 1083px) {
  .main-container .header-container .active-sidebar {
    min-width: 25%;
    text-align: right;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #2f1893;
  }
  .main-container .header-container .active-sidebar .sidebar-wrapper {
    padding: 0 20px;
  }
  .main-container .header-container .active-sidebar .sidebar-wrapper .menu-contact-sidebar {
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 100px;
    padding: 9px 40px;
    transition: 0.3s;
  }
  .main-container .header-container .active-sidebar .sidebar-wrapper .menu-contact-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.301);
  }
  .main-container .header-container .active-sidebar ul li {
    font-size: 20px;
  }
  .main-container .header-container .active-sidebar ul li a {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
  }
  .main-container .header-container .active-sidebar ul li a i {
    display: none;
  }
  .main-container .header-container .active-sidebar a {
    padding: 9px 10px;
    display: block;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
  }
}
.main-container .header-container .border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.301);
}
.main-container header {
  padding-bottom: 34px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container header .logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.main-container .dropdown, .main-container .active {
  visibility: hidden;
  display: none;
  color: #ffffff;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 1083px) {
  .main-container .dropdown, .main-container .active {
    display: none;
    visibility: hidden;
  }
}
.main-container .dropdown .dropdown-first-column, .main-container .active .dropdown-first-column {
  background-color: #2f1893;
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.main-container .dropdown .dropdown-first-column p, .main-container .active .dropdown-first-column p {
  margin: 0 0 0.1rem 0;
  padding: 4px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.main-container .dropdown .dropdown-first-column p:hover, .main-container .active .dropdown-first-column p:hover {
  color: #2f1893;
  background: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
}
.main-container .dropdown .dropdown-first-column .dropdown-first-column__title, .main-container .active .dropdown-first-column .dropdown-first-column__title {
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.main-container .dropdown .dropdown-second-column, .main-container .active .dropdown-second-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-container .dropdown .dropdown-second-column .dropdown-second-column-first-row, .main-container .active .dropdown-second-column .dropdown-second-column-first-row {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.main-container .dropdown .dropdown-second-column .dropdown-second-column-second-row p, .main-container .active .dropdown-second-column .dropdown-second-column-second-row p {
  padding: 28px 0 6px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.main-container .active {
  height: auto;
  z-index: 21;
  visibility: visible;
  display: flex;
  padding: 0 100px 20px 100px;
  margin: 20px auto;
  background-color: #2f1893;
  position: absolute;
  left: 0;
  width: 100%;
}
@media (max-width: 1083px) {
  .main-container .active {
    visibility: hidden;
    display: none;
  }
}

.hero-container {
  background-color: #ffffff;
  padding: 70px 48px;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 94px;
}
@media (max-width: 970px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-container img {
    width: 70%;
  }
}
.hero-container .hero-left {
  max-width: 469px;
}
.hero-container .hero-left h3 {
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #1e0e62;
  letter-spacing: -1px;
}
.hero-container .hero-left p {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 94px;
}
.hero-container .hero-left a {
  background: #482be7;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 17px 40px;
}

.call-to-action {
  background-image: url("RectangleHero.png");
  background-size: cover;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}
.call-to-action h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 14px;
  letter-spacing: -0.4px;
}
.call-to-action p {
  margin-bottom: 39px;
}
.call-to-action input {
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  padding: 12px 24px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.301);
}
.call-to-action input:focus {
  outline: none;
}
.call-to-action input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.301);
  font-weight: 500;
  font-size: 18px;
}
.call-to-action input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.301);
  font-weight: 500;
  font-size: 18px;
}
.call-to-action input::placeholder {
  color: rgba(255, 255, 255, 0.301);
  font-weight: 500;
  font-size: 18px;
}
.call-to-action button {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  background: #25dac5;
  border-radius: 100px;
  border: none;
  padding: 12px 28px;
  color: #ffffff;
}
.call-to-action .call-to-action-left {
  margin-right: 50px;
}
.call-to-action .call-to-action-right {
  margin-right: 10px;
}
.call-to-action .call-to-action-right img {
  width: 80%;
}
@media (max-width: 980px) {
  .call-to-action .call-to-action-right {
    display: none;
  }
}

.footer-wrapper {
  padding: 45px 0;
  width: 100%;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
.footer-wrapper .footer-wr {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 882px) {
  .footer-wrapper .footer-wr .footer-links {
    display: none;
  }
}
.footer-wrapper .footer-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.footer-wrapper a {
  padding: 0 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-wrapper .fa-facebook-f {
  padding: 12px 13px;
}
.footer-wrapper i {
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 100px;
  padding: 12px 10px;
}/*# sourceMappingURL=style.css.map */